* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing:border-box;
}

h2 {
  text-align: center;
}

/*ADD BORDERS TO ALL ELEMENTS*/
* {
  border:1px solid white;
  padding: 0px;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  border-width: thick;
  border-color: black;
  align-content: end;
}

.cell {
  color: black;
  padding: 10px;
  font-size: 24px;
  font-family: "Courier New";
  text-align: center;
  grid-column: auto;
  border-width: medium;
  border-color: black;
  height: auto;
}

.index {
  background-color: gray;
  font-weight: bold;
  color: white;
}

.sideIndex {
  background-color: lightgreen;
  text-align: right;
  padding-right: 10%;
}

.cs-341 {
  background-color: yellow;
  grid-row: span 2;

}

.cs-222 {
  background-color: orange;
  grid-row: span 2;

}

.math-331 {
  background-color: indianred;
  grid-row: span 2;
}

.jnst-000B {
  background-color: lightblue;
}
