body {
  background-color:  black;
  font-family: Arial;
}

div {
  background-color: #58FAAC;
  border-color: blue;
  border-radius: 50px;
  border-width: .25em;
  border-style:groove;
  padding: 20px;
}

h1 {
  text-align: center;
}

.grid {
  background-color: yellow;
  width: 50%;
  display: grid;
  grid-template-columns: 30% auto;
  border-width: thick;
  border-color: black;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.cell {
  color: black;
  background-color: lightblue;
  padding: 10px;
  font-size: 24px;
  font-family: "Courier New";
  text-align: center;
  grid-column: auto;
  border-width: medium;
  border-color: black;
  height: auto;
}

.Time {
  background-color: lightblue;
  font-weight: bold;
}

.activity {
  background-color: lightgray;
}
video {
  display: block;
  margin: auto;
}

p {
  clear: both;
  text-align: left;
}

ul.a {
  list-style-type: circle;
}
