.answer {
  width: 100%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}
#outputText {
  text-align: center;
  background-color: yellow;
}
h3 {
  text-align: center;
  text-decoration: underline;
}
h1 {
  text-align: center;
  text-decoration: underline;
  background-color: lightblue;
}
fieldset {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
button {
  float: center;
  width: 50%;
  text-align: center;
}
img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
}
